<div class="mx-auto text-center">
    <div>
        <h2>Basic information</h2>
        <div class="max-w-sm mx-auto shadow-lg rounded-lg overflow-hidden">
            <p>Full Name: <b><%= "%s %s" % [@address.first_name, @address.last_name] %></b></p>
            <p>Address: <b><%= @address.address %></b></p>
        </div>
    </div>
    <div>
        <h2>Demographic information about <%= "%s, %s %s" % [@city, @state, @zipcode] %> </h2>
        <div class="max-w-sm mx-auto shadow-lg rounded-lg overflow-hidden">
            <h3>Median Household Income</h3>
            <p><b>$<%= @median_income %> USD</b></p>
        </div>
        <div class="max-w-sm mx-auto shadow-lg rounded-lg overflow-hidden">
            <h3>Educational Attainment</h3>
            <p>Total Educated: <b><%= @total_educated %></b></p>
            <p>Below High School: <b><%= @under_hs %></b></p>
            <p>High School: <b><%= @hs_grad %></b></p>
            <p>Some College or Associates Degree: <b><%= @some_college %></b></p>
            <p>Bachelors Degree or Higher: <b><%= @bachelors %></b></p>
        </div>
        <div class="max-w-sm mx-auto shadow-lg rounded-lg overflow-hidden">
            <h3>Household Size</h3>
            <p>Occupied Housing Units: <b><%= @occupied_units %></b></p>
            <p>Number of 1 Person Households: <b><%= @one_person %></b></p>
            <p>Number of 2 Person Households: <b><%= @two_people %></b></p>
            <p>Number of 3 Person Households: <b><%= @three_people %></b></p>
            <p>Number of 4 or More Person Households: <b><%= @four_or_more %></b></p>
        </div>
    </div>
</div>